# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

###### Objectives:
- Languages like Python, R, SQL
- Data visualization library like Ggplot, Ggplot2
- Jupiter Notebook, Rstudio
- Github

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3.

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Panda
3. PyTorch
4. Matplotlib
5. Tensorflow

|Data Science Tools|
|--------------------|
|Jupyter Notebook|
|Apache Spark|
|MATLAB|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# 
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [2]:
#
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Tapan Rao